.calculator {
  width: 350px;
}

.button-container {
  display: flex;
}

.button-container .left {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}

.button-container .right {
  width: 25%;
  display: flex;
  flex-direction: column;
}